<tr>
  <td class="message">
    <span class="content"><%= wrap(message.content) %></span>
    <span class="timestamp">
      Sent <%= time_ago_in_words(message.created_at) %> ago.
    </span>
  </td>
</tr>
