.container {
  width: 710px;
  margin: 0 auto;
}

body {
  background: #CFF;
}

#header {
  padding-top: 20px;
}

#header img{
  padding: 1em;
  background: #FFF;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #FFF;
}

/* Links */

a {
  color: #09C;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

.navigation {
  float: right;
}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

.navigation li a:hover {
  text-decoration: underline;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


#footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

#footer .navigation {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #FFC;
}

.profile img.gravatar {
  border: solid 1px #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.fieldWithErrors input {
  border: solid 1px red;
  background-color: #FFFF77;
}

.fieldWithErrors textarea {
  border: solid 1px red;
  background-color: #FFFFCC;
}


ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Microposts */

h2.micropost {
  margin-bottom: 0;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: solid 1px #CCC;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.gravatar {
  border-top: solid 1px #CCC;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

.rss {
  height: 16px;
  width: 16px;
  vertical-align: top;
}
